body {
  font-family: Arial, sans-serif;
  background-color: #f56ad2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 400px;
  background-color: hsl(324, 86%, 80%);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  background-color: #ca68f4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: #cf83ff;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  color: #ffffff;
  border-radius: 4px;
  position: relative;
}
.delete-btn {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #999;
}
.done-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #999;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
